.recipe-list-pic{
    width: 100px;
}

.recipe-summary{
    font-size: 0.75rem;
}

.row{
    display: flex;
    flex-direction: row;
}

.column{
    display: flex;
    flex-direction: column;
}

.footer-padding{
    margin: 20px;
   padding: 20px; 
}

.main-container{
    margin: 40px;
}

.row-hr{
    width:100%;
}

.panel{
    width: 100%;
   
}
